body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  font-family: monospace;
  color: green;
}

button {
  border-style: none;
  font-family: monospace;
  background-color: transparent;
  border-width: 1px;
  border-color: yellowgreen;
  border-style: solid;
  color: green;
  outline: none;
  font-size: 1.5rem;
  margin-left: 2rem;
}

input[type="text"] {
  width: 15rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid yellowgreen;
  color: green;
  font-size: 1rem;
}

::placeholder {
  color: green;
}

input[type="text"]:focus {
  outline: none;
}

.text-box {
  width: 30rem;
  margin: 10rem;
  text-align: center;
  font-size: 1rem;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.center {
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
